/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid gold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: gold;
}

/* HERO SECTION */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4') center/cover;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 25px;
  background: gold;
  color: black;
   border-radius: 5px;
   text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.hero-btn:visited {
  color: black;
}
.btn {
  background: gold;
  color:black;
  padding: 12px 25px;
  border-radius: 5px;

}
/* EVENTS */
.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.event-card {
  border: 1px solid gold;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

/* CONTACT FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid gold;
}
.book-btn {
    background: gold;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.book-btn:hover {
    background: orange;
}